// Colors
$primary-color: #333;
$background-color: #ffffff;

$light-grey: #cdbfbf;
$error-color: #cd1034;

// Typography
$font-stack: 'Roboto Slab', serif;
$main-font-size: 16px;

// Grid widths
$sidebar-width: 3;
$main-width: 9;

